
/* HTML, body, and wrapper */


html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: black;
    color: white;
    transition: 0.5s;
    animation-name: opacity;
    animation-duration: 2s;
}

@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

body.light-dark {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.wrapper {
    max-width: 80vw;
    margin: 0 auto;
}


/* header, nav, light mode toggle. "top of page," would like to use for each page */


header {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-switch {
    width: 2.5%;
    height: auto;
    position: absolute;
    right: 5%;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-animation: swing 2s infinite ease-in-out;
    animation: swing 7s infinite ease-in-out;
    animation-delay: 3s;
}

@keyframes swing {
    0%{transform: rotate(0deg);}
    15%{transform: rotate(-20deg);}
    25%{transform: rotate(15deg);}
    35%{transform: rotate(-5deg);}
    40%{transform: rotate(2deg);}
    42%{transform: rotate(0deg);}
    100%{transform: rotate(0deg);}
}

.light-switch:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.light-switch.light-dark {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

nav {
    margin: 4em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 6em;
    padding-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}

/*
nav ul li a.active:before {
    position: absolute;
    content: "";
    width: 75%;
    height: 1px;
    border-bottom: 2px solid;
    bottom: -5px;
}
*/


/* "content" */


main {
    display: flex;
    margin-top: 10em;
}

.left-col {
    width: 65%;
    height: 150px;
    position: relative;
}

.pghome {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.intro {
    font-size: 4rem;
    font-family: 'Playfair Display';
    font-weight: normal;
    margin-left: 5%;
}

/* big pretty first last name */

h1 {
    font-size: 8rem;
    font-family: 'Playfair Display';
    font-weight: 900;
    font-style: italic;
    margin: 0 auto;
    
}

/* end big pretty name */

.info {
    margin-left: 5%;
    font-size: 2rem;
    text-align: center;
    width: 50%;
}

.sales-italic {
    display: block;
    font-style: italic;
}

.pgskills {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.pgexpedu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.pgprojects {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.pgcontact {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.right-col {
    width: 35%;
}

.photo-div {
    object-fit: contain;
    
}

.photo {
    object-fit: contain;
    height: auto;
    width: 95%;
    border: 10px solid;
    border-radius: 50%;
    background-color: white;
}

.photo.light-dark {
    background-color: black;
}




